<div class="container"><br><br>
    <h5 class="mt-5 mb-3"> Add a new Category </h5>

    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label for="title" class="control-label"> Libelle Categorie </label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" formControlName="libelleCategorie" >
        </div>

        <div class="form-group">
            <label for="description" class="control-label description-label">Description</label>
            <textarea class="form-control" id="description" rows="5" placeholder="Enter a detailed description" formControlName="description"></textarea>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="categoryForm.invalid">submit</button>

    </form>
</div>