<h2 class="content-block">Profile</h2>

<!--
<div class="content-block dx-card responsive-paddings" *ngIf="_user">
  <div class="form-avatar">
    <img [src]="_user.avatarUrl || 'assets/images/default-avatar.png'" alt="User Avatar" />
  </div>
</div>
-->


<div class="content-block dx-card responsive-paddings">
  <dx-form id="form"
    [formData]="_user"
    labelLocation="top"
    [colCountByScreen]="colCountByScreen">
    <br><br>
  
  </dx-form>
  <button class="btn btn-primary" (click)="updateUser()">Update</button>
</div>


