

/* Add styles for the image preview */
.img-thumbnail {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    border: 1px solid #ddd; /* Add a border */
    padding: 4px; /* Add some padding */
    border-radius: 4px; /* Rounded corners */
    display: block; /* Ensure the image is displayed as a block element */
    margin-top: 10px; /* Add some margin at the top */
  }

  .container {
    width: 950px;
    /* Alternatively, you can use margin instead of padding if you prefer */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
  }
  

  .custom-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* or any width you prefer */
  }
  
  .return-button {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  .return-button:hover {
    background-color: #0056b3;
  }
  
  .return-button .material-icons {
    font-size: 24px;
    margin-right: 8px;
  }
  
  